In [17]:
import torch
class EntityDataset():
    def __init__(self, texts, pos, tag):
        self.texts = texts
        self.pos = pos
        self.tag = tag
    
    def __len__(self):
        return len(self.texts)

In [18]:
import csv
import pandas as pd

In [37]:
datapath = '../input/'
file = datapath + 'NCBITraining_tagged.csv'
TRAINING_FILE = "../../../MLMedicalNotesNLPChallenge/bert-entity-extraction/ner_dataset.csv"
df = pd.read_csv(file)
texts = list(df.token)

In [38]:
from sklearn import preprocessing

In [41]:
df = pd.read_csv(TRAINING_FILE, encoding="latin-1")
dfc = pd.read_csv(file, encoding="latin-1")

In [40]:
df.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [42]:
dfc.head()

   sentence#   token   pos             tag
0          1       A   DET               O
1          1  common   ADJ               O
2          1   human   ADJ               O
3          1    skin  NOUN  B-DiseaseClass
4          1  tumour  NOUN  L-DiseaseClass